/* ====================== Global Styles  ========================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  background-color: #e5e5e5;
}

p {
  color: #344563;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
}

.btn {
  background-color: #fff;
  color: #0D45D3;
  padding: 10px 20px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  width: 53%;
  box-shadow: 0.4em 0.4em 1em #6070ff;
  transition: 1s;
}

.btn:enabled {
  background-color: #fff;
  color: #396df2;
}

.btn:hover {
  background-color: #6070ff;
  color: #fff;
  font-weight: 500;
  transform: scale(1.1);
  box-shadow: 0.4em 0.4em 1em #6070ff inset, -0.4em -0.4em 1em #6070ff inset;
}

.btn:active {
  background-color: #2230d2;
  color: #fff;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
}

.column {
  grid-template-columns: 100%;
  grid-gap: 2em;
}

/* -------------------- Base Header Styles -------------------- */

header {
  background-color: #fff;
  padding: 15px 0;
}

header .container {
  justify-content: space-between;
  margin: 10px;
}

header .logo {
  font-weight: 700;
  color: #6070ff;
  transition: 1s;
}

header .logo:hover {
  transform: scale(1.3);
}

header nav ul {
  display: none;
}

header .menu-bars {
  color: #6070ff;
  cursor: pointer;
}

header .menu-bars:hover {
  color: #2230d2;
}

/* -------------------- Mobile Styles - Homepage -------------------- */
/* === Hero Area Styles === */
.hero-area {
  background-image: url(../images/hero-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #fff;
  border-bottom-left-radius: 3em;
  min-height: 100vh;
}

.hero-area .container {
  flex-direction: column;
}

.hero-main-content {
  margin: 5.625em 0 1.25em;
  width: 100%;
}

.hero-area h1 {
  font-size: 2.3em;
  font-weight: 700;
  margin-bottom: 10px;
  color: #172b4d;
}

.hero-social {
  width: 100%;
  margin-bottom: 50px;
}

.hero-social p {
  font-size: 1.2em;
  color: #6070ff;
  text-transform: uppercase;
}

.hero-social ul {
  justify-content: space-between;
  width: 60%;
}

.hero-social ul i {
  font-size: 1.2em;
  font-weight: 700;
  margin: 12px 0;
  color: #505f79;
  transition: 1s;
}

.hero-social ul i:hover {
  color: #2230d2;
  transform: scale(1.2);
}

/* === Portfolio Styles === */
#portfolio {
  background-color: #e5e5e5;
}

#portfolio .container {
  margin: 7em 0;
}

#portfolio .portfolio-card {
  grid-template-columns: 100%;
  grid-gap: 1em;
  background-color: #fff;
  padding: 1em;
  border: 1px solid #dfe1e6;
  border-radius: 1.5em;
  align-items: center;
}

#portfolio .portfolio-thumbnail {
  border-radius: 0.5em;
  overflow: hidden;
}

#portfolio .portfolio-thumbnail img {
  width: 100%;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 1s;
}

#portfolio .portfolio-thumbnail img:hover {
  transform: scale(1.1);
}

#portfolio .list-items {
  justify-content: flex-start;
  margin: 1em 0;
  list-style-type: circle;
}

#portfolio .list-items li {
  font-size: 0.8em;
  font-weight: 500;
  color: #6b778c;
}

#portfolio .list-items li:nth-of-type(1) {
  color: #344563;
  font-size: 1em;
  font-weight: 700;
  list-style: none;
  margin: 0;
  margin-right: 0.5em;
}

#portfolio .list-items li:nth-of-type(2) {
  margin: 0 1.5em;
}

#portfolio .list-items li:nth-of-type(3) {
  margin-left: 0.5em;
}

#portfolio h2 {
  color: #172b4d;
}

#portfolio .languages {
  margin: 1.5em 0;
}

#portfolio .languages li {
  background-color: #ebebff;
  color: #6070ff;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
}

#portfolio .languages li:nth-of-type(2) {
  margin: 0 1em;
}

/* === About Style === */
#about {
  background-color: #fff;
  border-top-right-radius: 3em;
  margin-bottom: -3em;
  padding-bottom: 6em;
}

.about-main-content {
  margin: 5.625em 0 1.25em 0;
  width: 100%;
}

#about h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 10px;
  color: #172b4d;
}

#about h3 {
  font-size: 1.25em;
  font-weight: normal;
  color: #000000;
}

.about-social {
  width: 100%;
}

.about-social p {
  font-size: 1em;
  color: #6070ff;
  text-transform: uppercase;
  font-weight: 500;
}

.about-social ul {
  justify-content: space-between;
  width: 55%;
  margin: 0.625em 0;
}

.about-social ul i {
  font-size: 1.2em;
  font-weight: 700;
  margin: 12px 0;
  color: #505f79;
  transition: 1s;
}

.about-social ul i:hover {
  color: #2230d2;
  transform: scale(1.2);
}

.about-dropdown {
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 1.5em 0;
}

.about-dropdown:nth-of-type(2),
.about-dropdown:nth-of-type(3) {
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 1em;
}

.dropdown-icon {
  align-self: flex-start;
  margin: 0.25em 1em 0 0;
}

.language-data {
  width: 90%;
}

.language-name-wrapper {
  flex-direction: column;
  width: 100%;
  margin-top: 0.9em;
}

.language-name {
  background-color: #f7f7f9;
  margin: 0.2em 0;
  padding: 0.5em;
  transition: 1s;
}

.language-name:hover {
  transform: translateY(-1em)
}

.language-name i {
  font-size: 2em;
  padding: 0.325em;
  border: none;
  border-radius: 50%;
  align-self: flex-start;
}
.language-name p {
  margin-left: 1em;
}

.language-name .javascript {
  background-color: #ffff00;
}

.language-name .html {
  background-color: #ff4500;
  color: #fff;
}

.language-name .css {
  background-color: #00ffff;
  color: #fff;
}

/* === Contact Styles === */
#contact {
  background-image: url(../images/contact-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 0;
  background-color: #6070ff;
  border-top-left-radius: 3em;
}

#contact .container {
  padding: 5em 0 0;
  text-align: center;
  margin: 2em;
}

#contact h2 {
  color: #fff;
}

#contact p {
  margin: 1em 0;
  font-size: 1em;
  color: #ebebff;
}

.contact-input {
  width: 100%;
  font-size: 0.8em;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  border-radius: 0.5em;
  color: #172b4d;
}

form textarea {
  color: #b3bac5 !important;
}

#contact .btn {
  align-self: flex-start;
  box-shadow: 0.4em 0.4em 1em #2230d2;
}

/* -------------------- Break Points for Tablet & Desktop Layout -------------------- */
@media only screen and (min-width: 768px) {
  /* ========== Tablet Styles ========== */

  /* ------------ General Styles ---------- */
  .btn {
    width: 40%;
  }

  /* ------------ Header Styles ---------- */

  header .logo-wrapper {
    width: 20%;
  }

  header .menu-bars {
    display: none;
  }

  header nav {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
  }

  header nav ul li a {
    color: #344563;
    font-weight: 500;
  }

  header nav ul li a:hover {
    color: #6070ff;
    border-bottom: 2px solid #6070ff;
    padding-bottom: .5em;
  }

  /* ------------ Hero Area Styles ---------- */
  .hero-area {
    background-image: url(../images/hero-bg.png);
  }

  .hero-area .container {
    margin-bottom: 4em;
  }

  .hero-main-content {
    max-width: 500px;
  }
  .hero-social {
    max-width: 500px;
  }

  .hero-social ul {
    width: 40%;
  }

  /* ------------ Portfolio Styles ---------- */

  #portfolio .portfolio-card {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    grid-auto-flow: dense;
  }

  #portfolio .portfolio-card:nth-of-type(2),
  #portfolio .portfolio-card:nth-of-type(4) {
    direction: rtl;
  }

  #portfolio .portfolio-content:nth-of-type(2) {
    direction: ltr;
  }

  #portfolio .portfolio-thumbnail img {
    min-height: 85vh;
  }

  #portfolio .list-items li {
    font-size: 1.125em;
  }

  #portfolio h2 {
    font-size: 1.5em;
    color: #091e42;
  }

  #portfolio p {
    font-size: 0.9em;
  }

  #portfolio .list-items {
    font-size: 0.9em;
  }

  /* ------------ About Styles ---------- */

  #about .container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  #about .dropdown-wrapper {
    margin-top: 6em;
  }

  .about-social ul {
    margin: 1em 0;
  }

  #about .btn {
    width: 47%;
  }

  .language-name-wrapper {
    flex-direction: row;
  }

  .language-name {
    width: 40%;
    flex-direction: column;
  }

  .language-name:nth-of-type(2) {
    margin: 0 0.5em;
  }

  .language-name p {
    margin-top: 1em;
    margin-left: 0;
  }
  .language-name i {
    align-self: center;
  }
  /* ------------ Contact Styles ---------- */

  #contact {
    background-image: url(../images/contact-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
  }

  #contact .container {
    align-items: center;
    margin: 4em 0;
    max-width: 300px;
  }

  .contact-input {
    border-radius: inherit;
  }

  #contact h2 {
    font-size: 2em;
  }

  #contact p {
    font-size: 1.2em;
  }

  #contact .btn {
    width: 45%;
    align-self: center;
  }
}

/* ========== Desktop Styles ========== */
@media only screen and (min-width: 1200px) {
  /* ------------ General Styles ---------- */
  .container {
    max-width: 960px;
  }

  .btn {
    width: 30%;
  }

  /* ------------ Header Styles ---------- */
  header .logo-wrapper {
    justify-content: flex-start;
  }

  header nav {
    width: 30%;
  }

  /* ------------ Hero Area Styles ---------- */
  .hero-area {
    background-position: center center;
  }

  .hero-main-content {
    max-width: 55em;
  }

  .hero-social {
    max-width: 55em;
  }

  .hero-area h1 {
    font-size: 3em;
  }

  .hero-area p {
    font-size: 1.25em;
  }

  .hero-social ul {
    width: 23%;
    margin-top: 1em;
  }

  /* ------------ Portfolio Styles ---------- */
  #portfolio .portfolio-thumbnail img {
    min-height: 50vh;
  }

  #portfolio .portfolio-content {
    margin-bottom: 3em;
  }

  /* ------------ About Styles ---------- */
  .about-social ul {
    width: 38%;
    margin: 1em 0;
  }
  #about .btn {
    width: 35%;
  }
  /* ------------ Contact Styles ---------- */
  #contact .container {
    max-width: 400px;
  }

  .contact-input {
    font-size: 1.0625em;
  }

  #contact .btn {
    width: 35%;
  }
}
