/* ====================== Global Styles  ========================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  background-color: #E5E5E5;
}

p {
  color: #344563;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 15px 0;
}

.btn {
  background-color: #fff;
  color: #396DF2;
  padding: 10px 20px;
  border: 1px solid #7F8CFF;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
}

.btn:hover {
  background-color: #6070FF;
  color: #fff;
}

.btn:active {
  background-color: #2230d2;
  color: #fff;
}

.btn:enabled {
  background-color: #fff;
  color: #396DF2;
}

/* -------------------- Base Header Styles -------------------- */

header {
  background-color: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin: 10px;
}

header .logo {
  font-weight: 700;
  color: #6070ff;
}

header nav ul {
  display: none;
}

header .menu-bars {
  color: #6070ff;
  cursor: pointer;
}

header .menu-bars:hover {
  color: #2230d2;
}

/* -------------------- Mobile Styles - Homepage -------------------- */
/* === Hero Area Styles === */
.hero-area {
  background-image: url(../images/header-shapes\ mobile.png);
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border-bottom-left-radius: 3em;
 
}

.hero-area .container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.hero-main-content {
  margin: 90px 0 20px 0;
  width: 100%;
}

.hero-area h1 {
  font-size: 2.3em;
  font-weight: 700;
  margin-bottom: 10px;
  color: #172b4d;
}

.hero-social {
  width: 100%;
  margin-bottom: 50px;
}

.hero-social p {
  font-size: 1.2em;
  color: #6070ff;
  text-transform: uppercase;
}

.hero-social ul {
  display: flex;
  justify-content: space-between;
  width: 49%;
}

.hero-social ul i {
  font-size: 1.2em;
  font-weight: 700;
  margin: 12px 0;
  color: #505f79;
}

/* === Portfolio Styles === */
#portfolio {
  padding: 7em 0;
  background-color: #E5E5E5;
}

#portfolio .container {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2rem;
  margin: 0 1em;
}

#portfolio .portfolio-card {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: #fff;
  padding: 1em 1em 2em 1em;
  border: 1px solid #DFE1E6;
  border-radius: 20px;
}

#portfolio .portfolio-thumbnail {
  border-radius: 20px;
}

#portfolio .portfolio-thumbnail img {
  width: 100%;
  border-radius: 20px;
}

#portfolio .portfolio-content{
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

#portfolio .list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

#portfolio .list-items li:nth-of-type(1) {
  font-weight: 700;
  text-transform: uppercase;
}

#portfolio .list-items li:nth-of-type(2) {
  margin: 0 1.25em;
}

#portfolio .languages {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

#portfolio .languages li {
  background-color: #ebebff;
  color: #6070FF;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
}

#portfolio .languages li:nth-of-type(2) {
  margin: 0 1em;
}

/* === About Style === */
#about {
  background-color: #fff;
  border-top-right-radius: 3em;
}

#about .container {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2rem;
  margin: 0 1em;
}

.about-main-content {
  margin: 90px 0 20px 0;
  width: 100%;
}

#about h2 {
  font-size: 2.3em;
  font-weight: 700;
  margin-bottom: 10px;
  color: #172b4d;
}

.about-social {
  width: 100%;
  margin-bottom: 50px;
}

.about-social p {
  font-size: 1em;
  color: #6070ff;
  text-transform: uppercase;
}

.about-social ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0.625em 0;
}

.about-social ul i {
  font-size: 1.2em;
  font-weight: 700;
  margin: 12px 0;
  color: #505f79;
}

.about-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin: 1.5em 0 1em 0.5em;
}

.dropdown-icon {
  align-self: flex-start;
  margin: 0.25em 1em 0 0 ;
}

.language-data {
  width: 90%;
}

.language-name {
  display: flex;
  align-items: center;
  background-color: #F7F7F9;
  margin: .8em 0;
  padding: .5em;
}

.language-name i {
  font-size: 2em;
  padding: .325em;
  border: none;
  border-radius: 50%;
  margin-right: 1.25em;
}
.language-name .javascript {
  background-color: #ffff00;
  
}
.language-name .html {
  background-color: #ff4500;
  color: #fff;
}
.language-name .css {
  background-color: #00ffff;
  color: #fff;
}

/* === Contact Styles === */
#contact {
  background-image: url(../images/contact\ form\ shapes-mobile@2x.png);
  background-size: cover;
  background-color: #2230d2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 3em;
  margin-top: 3em;
}

#contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em 0 3em 0;
  text-align: center;
  margin: 2em 0 0 0;
}

#contact h2 {
  color: #fff;
}

#contact p {
  margin: 1em 0;
  font-size: .8em;
  color: #fff;
}

form {
  margin: 3em 0 1em 0;
}

.contact-input {
  width: 100%;
  font-size: 1em;
  padding: 1em;
  margin-bottom: .5em;
  border: none;
  border-radius: .5em;
  color: #172B4D;
}

#contact .btn {
  margin-right: 10em;
}