.services {
  margin: 20rem 0;
}
/* right sided */
.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}

.card-decs {
  color: var(--gray);
}

/* blur */
.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}

@media screen and (max-width: 480px) {
  .services {
    margin: 6rem 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 17rem;
  }
  .cards > * {
    position: static;
  }
}
