.portfolio {
  margin: 20rem 0;
}

.p-link {
  color: #000;
  text-decoration: none;
  border: 1px solid #f8ddb1;
  border-radius: 50%;
  padding: 5px;
  transition: all 0.3s;
}

.p-link:hover {
  background-color: #413621;
  border-color: #f8ddb1;
}


@media screen and (max-width: 768px) {
  .portfolio {
    margin: 6rem 0;
  }

  .portfolio-decs {
    font-size: 14px;
  }

  .p-link {
    padding: 3px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio {
    margin-top: 6rem;
  }
}