.about {
  margin: 20rem 0;
}

/* right side */
.w-right {
  position: relative;
}

.w-mainCircle {
  background-image: url(/img/my-img.jpg);
  background-size: cover;
  left: 9rem;
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  box-shadow: var(--smboxShadow);
  top: 2rem;
  /* darkMode */
  z-index: 2;
}

.w-mainCircle>* {
  position: absolute;
}

.w-secCircle {
  width: 6rem;
  height: 6rem;
  position: absolute;
  border-radius: 100%;
  border: 5px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--smboxShadow);
  background: white;
}

.w-secCircle>img {
  transform: scale(0.6);
}

.w-backCircle {
  position: absolute;
  height: 13rem;
  width: 13rem;
  border-radius: 100%;
  /* darkMode */
  z-index: 1;
}

.blueCircle {
  background: #1949b8;
  left: 18rem;
  top: 0rem;
}

.yellowCircle {
  background: #f5c32c;
  left: 18rem;
  top: 8rem;
}

.u-circle {
  top: -5rem;
  left: 6rem;
}

.l-circle {
  top: 5rem;
  left: -3rem;
}

.f-circle {
  top: 16rem;
  left: 6rem;
}

.g-circle {
  top: 5rem;
  left: 15rem;
}

@media screen and (max-width: 480px) {
  .about {
    margin: 6rem 0;
    gap: 5rem;
  }

  .w-right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    transform: scale(0.7);
  }

  .w-mainCircle {
    position: static;
  }

  .w-backCircle {
    left: 8rem !important;
  }

}