/* Intro section */
.i-icons>* {
  transform: scale(0.5);
}

.i-icons>*:hover {
  cursor: pointer;
}

/* right side styling */
.i-right {
  position: relative;
}

.i-right>* {
  position: absolute;
  z-index: 1;
}

.i-right> :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -9%;
}

.i-right> :nth-child(2) {
  top: -4.6rem;
  transform: scale(0.67);
  left: -3rem;
}

.i-right> :nth-child(3) {
  transform: scale(1.4);
  left: 28%;
}

.i-right> :nth-child(4) {
  transform: scale(0.62);
  top: -19%;
  left: -24%;
  border-radius: 50%;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .intro {
    height: 55rem;
  }
}

@media screen and (max-width: 480px) {
  .i-right {
    transform: scale(0.8);
    left: -3rem;
  }

  .i-right .blur {
    display: none;
  }

  .floating-div:nth-of-type(1) {
    /* display: none; */
    top: -7rem !important;
    ;
  }
}