.footer {
  margin: -0.5rem -3.5rem;
  position: relative;
}

.f-content {
  position: absolute;
  width: 100%;
  top: 14rem;
}

.f-icons {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .f-content {
    top: 7rem;
  }
}

@media screen and (max-width: 480px) {
  .f-content {
    top: 2rem;
    transform: scale(.5);
  }
}